* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.nav-bar {
    background-color: rgb(193, 193, 193);
    display: flex;
}
.nav-bar a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: auto;
}
.nav-bar a:hover {
    color: blue;
}
.nav-bar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    padding: 0 0.2em;
}
.nav-bar .logo {
    margin: 0 auto;
    font-weight: lighter;
    font-size: 3em;
    padding: 0.2em 0;
    font-family: 'Montserrat', sans-serif;
}
.nav-bar .list-right {
    margin-left: 90px;
}


