body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
    font-size: 12px;
}

.message {
    padding: 5px 0 5px 5px;
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.message-info {
    background-color: #CDDEFF;
    color: #514CA6;
}

.message-success {
    background-color: #CFF3DA;
    color: #2D804F;
}

.message-warning {
    background-color: #FCFBC9;
    color: #89760F;
}
 .message-error {
     background-color: #FAD3D7;
     color: #97374E;
 }