/*
multi
line
comment
*/

header {
    text-align: center;
}

h2 {
    color: #4c4b49;
    text-decoration: underline;
    text-align: center;
}


body {
    background-image: url("/imgs/jungle.jpg");
    font-family: AppleGothic;
    background-size: 100% 100%;
}

ul {
    list-style: square;
}


tr > td {
    border-style: groove;
    font-family: fantasy;
    font-size: 2em;
    margin: auto;
    padding: 10px;
}

table {
    margin: auto;
}


a:link {
    color: darkred;
}

a:hover {
    background-color: coral;
}

a:visited {
    background-color: olivedrab;
}

a:active {
    color: blue;
}

footer {
    text-align: center;
}

